header {
  height: 646px;
  background-color: #00aeef;
  background-image: url(../img/Shape.png);
  background-repeat: no-repeat;
  position: relative;
  background-size: contain;
  width: 100%;
  background-position: bottom; }

.bio_bio {
  background-image: url(../img/bio_bio.png);
  background-repeat: no-repeat;
  position: absolute;
  height: 652px;
  width: 448px;
  top: 31px; }

.logo {
  background-image: url(../img/logo.png);
  background-repeat: no-repeat;
  width: 132px;
  height: 24px;
  position: absolute;
  top: 40px; }

.ill-ustrator {
  position: absolute;
  top: 202px; }
  .ill-ustrator h1 {
    font-family: Lato_Regular;
    color: #fff;
    text-transform: uppercase;
    font-size: 78px; }
  .ill-ustrator p {
    font-family: Georgia_Italic;
    font-style: oblique;
    font-size: 20px;
    color: #91daf6;
    margin-top: 30px; }

/*------------------ILLUSTRATIVE WORKS-------------------------- */
.illustrative_works p {
  font-family: Sintiry_Regular;
  text-transform: uppercase;
  font-size: 30px;
  color: #00aeef;
  margin-top: 56px; }

.illustrative_cont p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #858585; }

.no-padding {
  padding: 0px !important; }

.shape {
  background-color: #abbcc3;
  border-radius: 7px;
  position: relative;
  width: 100%;
  height: 159px; }

span.ellipse {
  color: #00AEEF;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  border: 3px solid;
  margin-right: 3px;
  display: inline-block;
  margin-top: 20px; }

/*--------------------GRAPHICAL WORK--------------------- */
.graphical_works p {
  font-family: Sintiry_Regular;
  text-transform: uppercase;
  font-size: 30px;
  color: #00aeef;
  margin-top: 56px; }

.graphical_cont p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #858585; }

/*-----------------CORPORATES------------------------ */
.corporates p {
  font-family: Sintiry_Regular;
  text-transform: uppercase;
  font-size: 30px;
  color: #00aeef;
  margin-top: 56px; }

.corporates_cont p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #858585; }

/*-----------------Design & illustrative------------------------ */
.design-illustrative h1 {
  font-family: Sintiry_Regular;
  text-transform: uppercase;
  font-size: 30px;
  color: #00aeef;
  margin-top: 56px; }
.design-illustrative p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #858585;
  margin-bottom: 30px; }

/*-----------------Years of experience------------------------ */
.years-of-experience h1 {
  font-family: Sintiry_Regular;
  text-transform: uppercase;
  font-size: 30px;
  color: #00aeef;
  margin-top: 56px; }
.years-of-experience p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #858585;
  margin-bottom: 30px; }

/*-----------------footer------------------------ */
footer {
  background-color: #151c27; }

.logo_f {
  margin-top: 38px; }

.footer_cont p {
  font-family: Georgia_Italic;
  font-style: oblique;
  font-size: 14px;
  color: #2c3b52;
  margin-top: 45px; }

.submit_group {
  font-size: 20px;
  padding-left: 15px;
  padding-top: 22px;
  width: 640px;
  height: 76px;
  margin-top: 28px;
  margin-bottom: 100px;
  background-color: #080c11;
  border-radius: 7px; }
  .submit_group input {
    background-color: #080c11;
    border: 0;
    font-family: "Sintiry_Regular";
    text-transform: uppercase;
    padding-right: 20px; }

.asd_subscribe_submit {
  background-image: url(../img/email.png);
  background-repeat: no-repeat;
  width: 28px;
  height: 20px; }

.rss {
  background-color: #ffaa16;
  height: 50px;
  width: 60px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 67px;
  padding-left: 20px;
  padding-top: 13px;
  display: inline-block;
  margin-right: 18px; }

.dribbble {
  background-color: #ec5b95;
  height: 50px;
  width: 60px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 67px;
  padding-left: 16px;
  padding-top: 11px;
  display: inline-block;
  margin-right: 18px; }

.twitter {
  background-color: #00aeef;
  height: 50px;
  width: 60px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 67px;
  padding-left: 14px;
  padding-top: 13px;
  display: inline-block;
  margin-right: 18px; }

.fb {
  background-color: #0054a6;
  height: 50px;
  width: 60px;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  box-shadow: inset 0px -4px 0px 0px rgba(0, 0, 0, 0.15);
  margin-top: 67px;
  padding-left: 24px;
  padding-top: 12px;
  display: inline-block;
  margin-right: 18px; }

/*# sourceMappingURL=main3.css.map */
