=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius


=button-variant($color, $background, $border)
  color: $color
  background-color: $background
  border-color: $border

  &:focus,&.focus
    color: $color
    background-color: darken($background, 10%)
    border-color: darken($border, 25%)
  &:hover
    color: $color
    background-color: darken($background, 10%)
    border-color: darken($border, 12%)
  &:active,&.active
    color: $color
    background-color: darken($background, 10%)
    border-color: darken($border, 12%)