@import "base"

body
  font: 100% $font-stack
  color: $primary-color
  h1
    color: $primary-color
    &.small
      color: $primary-color-lite
      font-size: 0.9em

.block
  width: 100px
  height: 100px
  border: 1px solid
  +border-radius(10px)

.t-btn
  width: 70px
  height: 70px
  +button-variant(black, white, $primary-color)
span
  color: blue
